html {
  background-color: RGB(0, 0, 22);
  color: white;
}

.roboczy {
  background-color: RGB(0, 0, 33);
  color: white;
  display: relative;
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  border-radius: 12px 12px;
  border: 2px solid grey;
}

.code_button {
  background-color: RGB(0, 0, 62);
  color: white;
  margin: 0px 0px 0px 0px;
  cursor: pointer;
}

.do_przyciskow {
  display: flex;
  position: absolute;
  top: 1.7%;
  left: 50%;
  height: 4%;
}

.edycja {
  z-index: 700;
  border-bottom-left-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
  position: absolute;
  top: 7%;
  left: 0.3%;
  width: 99%;
  height: 92%;
  background-color: RGB(0, 0, 0);
  color: white;
  border: 2px solid white;
  visibility: hidden;
}

.wynikowy {
  background-color: RGB(155, 155, 155);
  color: white;
  display: relative;
  position: absolute;
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
  border-radius: 0px 0px;
  border: 2px solid black;
}

select {
  background-color: RGB(0, 0, 33);
  color: white;
  display: fixed;
  position: absolute;
  left: 6%;
  top: 6.3%;
  width: 5%;
  height: 4%;
  border-radius: 8px 8px;
  border: 1px solid grey;
}

.opis {
  background-color: RGB(0, 0, 33);
  color: white;
  display: fixed;
  position: absolute;
  left: 6%;
  top: 7%;
  width: 5%;
  height: 3%;
  border-radius: 8px 8px;
}
